/* FinSaaS Specific Styles */
/* FinSaaS Specific Styles */

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #142210;
}

::-webkit-scrollbar-thumb {
    background: #25381e;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2c4823;
}

/* Material Symbols Font Settings */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Glassmorphism */
.glass-effect {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}